<div id="<%= dom_id issue %>">
  <p>
    <strong>Name:</strong>
    <%= issue.name %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= issue.link %>
  </p>

  <p>
    <strong>Podcast:</strong>
    <%= issue.podcast %>
  </p>

  <p>
    <strong>References:</strong>
    <%= issue.references %>
  </p>

</div>
