<p style="color: green"><%= notice %></p>


<div>
  <h1><%= @issue.name %></h1>
  <h3><%= @issue.link %></h3>

  <div id="posts">
    <% @posts.each do |post| %>
      <div class="post">
        <h2><%= link_to post.title, post %></h2>
        <p><%= post.content %></p>
      </div>
    <% end %>
  </div>
</div>
