<p style="color: green"><%= notice %></p>


<div>
  <h1><%= @issue.name %></h1>
  <h3><%= @issue.link %></h3>

  <div id="posts">
  <% @posts.each do |post| %>
    <% if post.persisted? && (user_signed_in? || !post.is_comments_open) %>
      <div class="post">
        <h2><%= link_to post.title, post %></h2>
        <p><%= post.content %></p>
      </div>
    <% end %>
  <% end %>
</div>

  <div>
      <h2>Add a post:</h2>
      <%= render "posts/form", post: Post.new %>
    </div>
</div>
