<p style="color: green"><%= notice %></p>

<%= render @issue %>

<div>
  <%= link_to "Edit this issue", edit_podcast_issue_path(@issue.podcast, @issue) %> |
  <%= link_to "Back to issues", podcast_issues_path(@issue.podcast) %>

  <%= button_to "Destroy this issue", [@issue.podcast, @issue], method: :delete %>
</div>

