<p style="color: green"><%= notice %></p>

<%= render @podcast %>

<div>
  <%= link_to "Edit this podcast", edit_admin_podcast_path(@podcast) %> |
  <%= link_to "Back to podcasts", admin_podcasts_path %>
</div>


<h1>Issues</h1>

<div id="issues">
  <% @issues.each do |issue| %>
    <%= render issue %>
    <p>
<p>
  <%= link_to "Show this issue", admin_podcast_issue_path(@podcast, issue) %>
  <%= button_to "Destroy this issue", admin_podcast_issue_path(@podcast, issue), method: :delete, data: { confirm: "Are you sure?" } %>
</p>

    </p>
  <% end %>
</div>