<p style="color: green"><%= notice %></p>

<%= render @podcast %>

<% if can? :create, Podcast %>
<div>
  <%= link_to "Edit this podcast", edit_podcast_path(@podcast) %> |
  <%= link_to "Back to podcasts", podcasts_path %>

  <%= button_to "Destroy this podcast", @podcast, method: :delete %>
</div>
<%end%>
<h1>Issues</h1>

<div id="issues">
  <% @issues.each do |issue| %>
    <%= render issue %>
    <p>
     <%= link_to "Show this issue", podcast_issue_path(@podcast, issue) %>

    </p>
  <% end %>
</div>